:root { 
--white_A700_3f:#ffffff3f; 
--blue_A400:#2684ff; 
--gray_900_10:#470137; 
--light_green_A700:#82d616; 
--gray_900_ab:#141727ab; 
--red_100_87:#f6dada87; 
--green_A100:#c6f6d5; 
--green_700:#2f855a; 
--gray_900_19:#0c1a2419; 
--gray_900_0c:#1018280c; 
--yellow_800:#ecb22e; 
--light_green_600:#67c23a; 
--gray_300_87_01:#dee2e687; 
--gray_900_0a:#0c1a240a; 
--blue_gray_900_02:#172b4d; 
--blue_gray_900_01:#1e293b; 
--pink_500:#dc395f; 
--yellow_800_02:#f79e1b; 
--blue_gray_900:#252f40; 
--yellow_800_01:#faa61a; 
--pink_50:#ffd9f2; 
--blue_gray_100:#ced4da; 
--amber_500:#fbbc05; 
--gray_800:#343a40; 
--orange_600:#fb8c00; 
--cyan_200:#81e6d9; 
--white_A700_66:#ffffff66; 
--teal_400_01:#2dce94; 
--blue_gray_100_87:#c9cad187; 
--white_A700_1e:#ffffff1e; 
--gray_900_e0:#151828e0; 
--green_600:#34a853; 
--red_A700_5d:#ea06065d; 
--teal_400:#2eb67d; 
--blue_gray_200_01:#a0aec0; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--pink_A400:#ff0080; 
--blue_gray_800_7e:#3138607e; 
--yellow_100:#feebc8; 
--blue_gray_200:#adb5bd; 
--blue_800:#1b46c2; 
--light_green_A700_5d:#82d6165d; 
--gray_900:#212529; 
--gray_100:#f2f2f2; 
--yellow_600_01:#fdd231; 
--blue_gray_500_b2:#64748bb2; 
--red_600:#e53e3e; 
--blue_A200:#4285f4; 
--green_500:#2ebd59; 
--blue_gray_500_01:#627594; 
--blue_gray_700:#495057; 
--red_A700:#ea0606; 
--blue_gray_700_ab:#3a416fab; 
--gray_600:#6c757d; 
--gray_300_27:#e0e1e227; 
--white_A700_bf:#ffffffbf; 
--white_A700_26:#ffffff26; 
--blue_gray_100_a2:#ced4daa2; 
--blue_gray_500_19:#64748b19; 
--white_A700_28:#ffffff28; 
--red_500_02:#ea4335; 
--blue_gray_700_01:#3a416f; 
--red_500_03:#f53838; 
--cyan_400:#17c1e8; 
--red_500_01:#f53939; 
--light_blue_A200:#36c5f0; 
--red_500:#ea4e3d; 
--light_blue_400:#21d4fd; 
--blue_gray_700_a2:#3a416fa2; 
--light_green_600_72:#67c23a72; 
--green_400:#48bb78; 
--pink_A200:#ff26be; 
--black_900:#000000; 
--gray_900_a2:#141727a2; 
--blue_gray_800:#344767; 
--deep_purple_500_90:#7927ca90; 
--pink_600:#e01e5a; 
--gray_900_02:#141727; 
--gray_900_03:#111827; 
--gray_900_04:#1c1b1f; 
--blue_gray_50_87:#e9ecef87; 
--indigo_A700_5d:#2152ff5d; 
--gray_900_05:#161616; 
--white_A700_a5:#ffffffa5; 
--amber_600:#fdb300; 
--orange_A700:#ff5f00; 
--indigo_50:#e2e8f0; 
--gray_900_01:#171923; 
--gray_900_06:#141627; 
--gray_300_02:#e0e1e2; 
--gray_900_07:#151928; 
--orange_300:#f6ad55; 
--gray_300_01:#dde0e5; 
--gray_900_08:#171b2c; 
--gray_300_00:#e0e1e200; 
--gray_900_09:#2e001f; 
--cyan_300:#4fd1c5; 
--purple_500_5d:#cb0c9f5d; 
--blue_gray_900_99:#252f4099; 
--blue_400_01:#4299e1; 
--gray_50_01:#f9fafb; 
--gray_50_02:#fbfbfb; 
--gray_50_03:#f7fafc; 
--green_A700_02:#16ad37; 
--green_A700_01:#06b034; 
--orange_A700_01:#ff5a00; 
--yellow_600_5d:#fbcf335d; 
--red_800:#c53030; 
--light_green_200:#c2e7b0; 
--light_green_600_19:#67c23a19; 
--indigo_50_01:#e0e5f2; 
--indigo_50_02:#e9edf7; 
--deep_purple_A200:#825ee4; 
--black_900_05:#00000005; 
--light_blue_400_5d:#21d4fd5d; 
--gray_400:#c4c4c4; 
--blue_gray_500:#64748b; 
--amber_100:#feeeb7; 
--black_900_0f:#0000000f; 
--black_900_0c:#0000000c; 
--indigo_200:#a8b8d8; 
--indigo_A700:#2152ff; 
--lime_A700:#98ec2d; 
--cyan_400_01:#2dcec6; 
--black_900_14:#00000014; 
--blue_gray_50:#e9ecef; 
--blue_gray_100_01:#cbd5e0; 
--blue_gray_100_02:#c7ccd0; 
--blue_gray_100_03:#d9d9d9; 
--blue_gray_100_04:#c9cad1; 
--gray_50:#f8f9fa; 
--orange_A200_72:#f1993772; 
--deep_purple_300:#9f7aea; 
--blue_gray_500_72:#64748b72; 
--deep_orange_400:#ed8936; 
--blue_gray_800_01:#313860; 
--blue_400:#55a6f8; 
--red_500_5d:#ea4e3d5d; 
--blue_gray_500_7f:#67748e7f; 
--red_200:#fc9797; 
--light_green_A100:#cdf59b; 
--deep_purple_400:#805ad5; 
--black_900_3f:#0000003f; 
--blue_800_01:#2a69ac; 
--light_blue_900:#00579f; 
--white_A700_93:#ffffff93; 
--blue_gray_50_a2:#ebeff4a2; 
--pink_A400_90:#ff008090; 
--yellow_600:#fbcf33; 
--green_A700:#17ad37; 
--amber_A700:#fdad00; 
--indigo_A700_01:#2052ff; 
--blue_gray_800_28:#31386028; 
--deep_purple_A400:#4218ff; 
--purple_500:#cb0c9f; 
--pink_300:#ff657b; 
--white_A700_8c:#ffffff8c; 
--orange_A200:#f19937; 
--blue_700:#3182ce; 
--blue_gray_300:#94a3b8; 
--red_A200:#f53b58; 
--orange_800:#eb6c00; 
--light_green_A700_01:#67b108; 
--blue_gray_800_14:#33415614; 
--gray_100_01:#f5f7f8; 
--blue_gray_400_05:#8b8f92; 
--blue_gray_400_04:#8a8b8e; 
--blue_gray_400_03:#888888; 
--red_A700_02:#bd0000; 
--red_A700_01:#eb001b; 
--blue_gray_400_02:#7b809a; 
--blue_gray_400_01:#718096; 
--white_A700:#ffffff; 
--blue_gray_300_19:#94a3b819; 
--blue_gray_900_19:#1e293b19; 
--gray_50_26:#f8f9fa26; 
--deep_purple_500:#7928ca; 
--blue_gray_900_0b:#1e293b0b; 
--indigo_A200:#5e72e4; 
--white_A700_72:#ffffff72; 
--red_100:#fed7d7; 
--purple_A100:#ff61f6; 
--deep_purple_A200_01:#9747ff; 
--pink_200:#f687b3; 
--blue_gray_50_01:#ebeff4; 
--deep_purple_A200_02:#7b61ff; 
--gray_300_87:#dde0e587; 
--blue_gray_50_02:#edf2f7; 
--gray_600_01:#767676; 
--blue_gray_400:#8392ab; 
--red_A100:#fc8181; 
--blue_gray_900_03:#2d3748; 
--light_blue_50:#ceedff; 
--gray_300:#dee2e6; 
--blue_gray_300_01:#8e9ab9; 
--white_A700_87:#ffffff87; 
--orange_A200_19:#f1993719; 
--deep_purple_500_01:#7927ca; 
--gray_900_7e:#1518287e; 
--light_green_50:#f0f9eb; 
}